.header {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  color: red;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.loading img {
  width: 100px;
  animation: loading 1s ease-in-out alternate infinite;
}

.topDetails img {
  cursor: pointer;
}

.pageHero {
  padding: 0 15rem 0 15rem;
  min-height: 100vh;
}

.pageHero img {
  cursor: pointer;
  border-radius: 2px;
}

.infoHero {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.infoHero img {
  width: 80%;
  padding-top: 2rem;
}

.itensHero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.itensHeroComics {
  display: flex;
  font-weight: 600;
  gap: 10px;
}

.infoHero p {
  color: rgb(71, 71, 71);
  font-size: large;
  line-height: 30px;
  max-width: 80%;
}

.infoHero h1 {
  color: rgb(44, 44, 44);
  font-size: 40px;
  text-transform: uppercase;
}

.footer {
  margin-top: 5rem;
  padding: 1rem 0px;
  background-color: red;

}

.footer p {
  color: white;
  font-weight: 600;
  text-align: center;

}

.thumb:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  transition: all 300ms ease-in-out;
}

.card img {
  cursor: pointer;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 0.9rem;
  text-align: center;
  color: rgb(44, 44, 44);
}

.title p {
  color: rgb(71, 71, 71);
  font-size: larger;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 15rem;
}

.search input {
  border: none;
}

.pageHero input:focus {
  outline: none;
  padding: 10px 70px;
  transition: all 250ms ease-in-out;

}

.search input:focus {
  outline: none;
}

.order {
  display: flex;
  margin-left: 50px;
  gap: 10px;
  font-weight: 400;
  flex-direction: row;
  color: red;
}

.search input::placeholder {
  color: red;
  font-size: larger;
}

.details {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  width: 80%;
}

.card img {
  border-bottom: 8px solid red;
  width: 100%;
  height: 280px;
  border-radius: 5px;
}

.section {
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  margin-top: 1rem;
}

.homePage {
  padding: 0 15rem 0 15rem;
}

.next {
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
}

.next p {
  color: red;
  margin-top: 1rem;
  font-weight: 600;
}

.next button {
  border: none;
  background-color: red;
  color: white;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
}

.next button:hover {
  opacity: 0.8;
}

.next button:disabled {
  opacity: 0.5;
}

.lancamentos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  margin-top: 5rem;
}

.logo {
  margin-top: 2.5rem;
  width: 250px;
}

.pageHero input {
  top: 2.5rem;
  margin-left: 10rem;
  position: absolute;
  background-color: #ffe4e4;
  padding: 10px 50px;
  border-radius: 20px;
  background-size: 2em !important;
  background-repeat: no-repeat !important;
  background-position: 10px !important;
  background-image: url("../public/ic_busca_menor.svg");
  padding-left: 5em;
  border: none;
}

.pageHero input::placeholder {
  font-size: larger;
}

.lancamentos img {
  width: 100%;
}

.lancamentos img:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  transition: all 300ms ease-in-out;
}

.topDetails {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  color: rgb(119, 119, 119);
  margin-top: 5rem;
  width: 95%;
}

.returnTop {
  position: fixed;
  right: 50px;
  bottom: 130px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}


@keyframes loading {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1.0);
  }
}

@media (max-width: 900px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  .card img {
    height: 250px;
  }

  .pageHero,
  .homePage {
    padding: 0 5px 0 5px;
  }

  .section {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    display: flex;
    flex-direction: row;
    place-content: center;
    padding: 0px;
  }

  .lancamentos {
    grid-template-columns: repeat(2, 1fr);
  }

  .pageHero input {
    top: 0px;
    margin-left: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .infoHero {
    display: block;
    padding-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .pageHero h2 {
    text-align: center;
  }

  .infoHero img {
    width: 100%;
  }

  .infoHero p {
    max-width: 100%;
  }

  .itensHeroComics {
    display: block;
  }
}